@page
@model CrystallizationModel
@{
    ViewData["Title"] = "Кристаллизация";
}

<div class="text-center">
    <h class="display-4">Кристаллизация</h>
    <a href="#"><img src="img/map6.jpg" height="500" width="750" class="center"></a>

    <div id="on_year1" style="position: absolute; top: 6.5%; left: 0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div id="on_year1" style="position: absolute; top: 15%; right: 0; ">

        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="production scheme"><p>Схема производства</p></a></td>
            </tr>
            <tr>
                <td><a href="Reception of sugar beet"><p>Приём сахарной свеклы</p></a></td>
            </tr>
            <tr>
                <td><a href="Unloading and washing"><p>Разгрузка и мойка</p></a></td>
            </tr>
            <tr>
                <td><a href="Diffusion"><p>Диффузия</p></a></td>
            </tr>
            <tr>
                <td><a href="Saturation"><p>Сатурация</p></a></td>
            </tr>
            <tr>
                <td><a href="Evaporation"><p>Выпаривание</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>

        </table>
    </div>

    <p>
        <div style="background-color: #ffffff" align="left">
            &nbsp; В вакуум-аппаратах происходит дальнейшее уваривание сахарного сиропа до получение густой массы
            (около 7% воды). В итоги получают так называемы утфель 1, который затем центрифугируют и в результате
            получают сахар-песок и межкристальную жидкость — патоку, которая содержит еще высокое количество сахара.
            Патоку повторно уваривают в вакуум-аппарате и затем получают утфель 2 кристаллизации и затем снова
            центрифугируют. Если же патока утфеля 2 кристаллизации содержит достаточно много сахара, ее снова
            уваривают с сахарным сироп и получают утфель 3 кристаллизации. Обессахаренная патока называется мелассой,
            которая используется для корма с/х животных.
    </p>
    <p>
        &nbsp; Уменьшение потерь сахара в производстве и в мелассе - одна из задач сахарной промышленности,
        решение которой возможно главным образом на основе внедрения более эффективного оборудования — жомовых
        прессов глубокого обессахаревания, автоматизированных фильтр- прессов, пленочных выпарных аппаратов,
        вакуум-аппаратов с мешалкой, современных центрифуг с высоким фактором разделения, а также автоматизации и
        компьютеризации технологических процессов.<tb>
    </p>
</div>
<body background="img/drops_texture515.jpg">
</body>