@page
@model DiffusionModel
@{
    ViewData["Title"] = "Диффузия";
}

<div class="text-center">
    <h class="display-4">Диффузия (Неравновесный процесс перемещения)</h>
    <a href="#"><img src="img/map3.jpg" height="500" width="750" class="center"></a>

    <div id="on_year1" style="position: absolute; top: 6.5%; left: 0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div id="on_year1" style="position: absolute; top: 15%; right: 0; ">

        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="production scheme"><p>Схема производства</p></a></td>
            </tr>
            <tr>
                <td><a href="Reception of sugar beet"><p>Приём сахарной свеклы</p></a></td>
            </tr>
            <tr>
                <td><a href="Unloading and washing"><p>Разгрузка и мойка</p></a></td>
            </tr>
            <tr>
                <td><a href="Saturation"><p>Сатурация</p></a></td>
            </tr>
            <tr>
                <td><a href="Evaporation"><p>Выпаривание</p></a></td>
            </tr>
            <tr>
                <td><a href="Crystallization"><p>Кристаллизация</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>

        </table>
    </div>

    <p>
        <div style="background-color: #ffffff" align="left">
            &nbsp; Для извлечения сахара диффузионным способом свекле необходимо придать вид стружки.
            Процесс получения стружки из свекловичного корня осуществляется на свеклорезках при помощи
            диффузионных ножей, установленных в специальных рамках. Производительность диффузионной установки
            и содержание сахара в обессахаренной стружке в очень большой степени зависит от ее качества.
            Поверхность стружки должна быть гладкой без трещин. Слишком тонкая стружка нежелательна,
            так как она деформируется, сбивается в комки и ухудшает циркуляцию сока в диффузионных установках.
            После того, как свекла была изрезана, стружка по ленточному транспортеру направляется к диффузионному
            аппарату, предварительно производят взвешивание стружки ленточными весами.
            В процессе диффузии – погружения стружки в горячую воду – сахар выделяется в жидкой форме,
            получается так называемый сырой сок. Оставшаяся после выделения сахара стружка называются влажным жомом.
            Выходящий из диффузионного аппарата свежий жом прессуют до содержания сухих веществ 22%,
            что дает возможность возвращать жомопрессовую воду на диффузию. После прессования жом направляется
            в отделение высушивания в барабанных жомосушках до сухого вещества 87%.
    </p>
</div>
<body background="img/drops_texture515.jpg">
</body>
