@page
@model EvaporationModel
@{      
    ViewData["Title"] = "Выпаривание";
}

<div class="text-center">
    <h class="display-4">Выпаривание</h>
    <a href="#"><img src="img/map5.jpg" height="550" width="800" class="center"></a>

    <div id="on_year1" style="position: absolute; top: 6.5%; left: 0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div id="on_year1" style="position: absolute; top: 15%; right: 0; ">

        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="production scheme"><p>Схема производства</p></a></td>
            </tr>
            <tr>
                <td><a href="Reception of sugar beet"><p>Приём сахарной свеклы</p></a></td>
            </tr>
            <tr>
                <td><a href="Unloading and washing"><p>Разгрузка и мойка</p></a></td>
            </tr>
            <tr>
                <td><a href="Diffusion"><p>Диффузия</p></a></td>
            </tr>
            <tr>
                <td><a href="Saturation"><p>Сатурация</p></a></td>
            </tr>
            <tr>
                <td><a href="Crystallization"><p>Кристаллизация</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>

        </table>
    </div>

    <p>
        <div style="background-color: #ffffff" align="left">
            &nbsp; После процесса сатурации, очищенный сахарный сок
            подаются в выпарные станции, где он сгущается до консистенции сиропа. От качества полученного сиропа
            во многом зависит качество сахарного песка, а именно цветность сахара и содержание в нем золы.
            Из практики известно, что для получения сахара-песка хорошего качества чистота сиропа должна быть
            примерно 92 %. Следует иметь ввиду, что величина чистоты сиропа зависит от качества перерабатываемой
            свеклы и проведения процессов экстрагирования сахара и очистки диффузионного сока. Ошибки, допущенные
            при извлечении сахара и очистке сока, затем практически невозможно исправить. Так, за счет применения
            адсорбен¬тов для обесцвечивания сиропа можно увеличить его чистоту максимально на 0,1 %.
        </div>
    </p>
</div>
<body background="img/drops_texture515.jpg">
</body>