@page
@model GazPechModel
@{
    ViewData["Title"] = "Известково-газовая печь";
}

<div class="text-center">
    <h class="display-3">Известково-газовая печь ИПШ</h>
    <a href="#"><img src="img/CCXY0186.JPG" height="750" width="800" class="center"></a>

    <div id="on_year1" style="position: absolute; top: 6%; left: 0; ">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <body background="img/drops_texture515.jpg">
    </body>
    <body>
        <form>
            <p><a href="Saturation"><p><input id="Button1" type="button" value="Назада к Сатурации" /></a></p>
        </form>
    </body>
