@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ЗАО «Тбилисский сахарный завод»</h1>
    <a href="#"><img src="img/2.jpg" height="500" width="750" class="left"></a>
    <a href="Unloading and washing"><img src="img/4.jpg" height="400" width="650" class="left"></a>

    <div id="on_year1" style="position: absolute; top:6%; left:0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div class="menubar">

        <div>
            <div>
                <p style="margin-left: 0px;"><b>Адрес местонахождения:</b> 352360 Краснодарский край, Тбилисский район, ст-ца Тбилисская, ул Мира, д. 1</p>
                <p style="margin-left: 0px;"><b>Юридический адрес:</b> 352360 Краснодарский край, Тбилисский район, ст-ца Тбилисская, ул Мира, д. 1<br></p>
                <p style="margin-left: 0px;"><b>Телефон производства:</b> +7(86158)22995 +7(86158)58349<br></p>
                <p style="margin-left: 0px;"><b>Факс:</b> +7(86158)58417</p>
                <p style="margin-left: 0px;"><b>Электронная почта:</b> sugar_zam@mail.kuban.ru<br></p>
                <p style="margin-left: 0px;"><b>Руководитель:</b> Клюшников Владимир Викторович<br></p>
            </div>
        </div>
        <p>
            <div style="background-color: #ffffff" align="left">
                &nbsp; Мы - современное предприятие с высоким уровнем механизации, автоматизации основного производства и вспомогательных подразделений, известное далеко за пределами края
                своими технико-экономическими показателями, качеством продукции, отвечающей требованиям мировых стандартов.
                За годы своего существования коллектив завода неоднократно был отмечен высокими наградами на различных выставках, стал лауреатом конкурса «Лучший сахарный завод России».
        </p>
    </div>
    <div>
        <script>
            let d = new Date();
            alert("Today's date is " + d);
        </script>
    </div>
</div>
<body background="img/1614612245_18.jpg">
</body>