@page
@model News2Model
@{
    ViewData["Title"] = "Новость 2";
}
<div id="on_year1" style="position: absolute; top:9%; left:0;">
    <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
</div>
<div>
    <h4 align="left" style="color: #ffffff">
        Тбилисскому сахарному заводу исполнилось 60 лет
    </h4>
    <p>
        <div style="color: #ffffff">
            &nbsp; 13 декабря 2019 года 60-летний юбилей отмечает крупнейшее промышленное предприятие
            Тбилисского района Краснодарского края – Тбилисский сахарный завод, сообщает пресс-служба
            администрации района.
    </p>

    <p>
        В этот день в 1959 году был подписан акт приемки в эксплуатацию завода. А 18 декабря смена инженера
        А.И. Хворостова выдала первый тбилисский сахар.<br>
    </p>

    <p>
        От имени главы Тбилисского района Евгения Ильина коллектив предприятия с праздником
        поздравил его заместитель, начальник отдела сельского хозяйства Владимир Гусев.
        Сотрудникам, добившихся профессиональных успехов объявлена благодарность главы района.<br>
    </p>

    <p>
        На сегодняшний день Тбилисский сахарный завод – предприятие известное во всем крае.
        Специалисты предприятия следят за новыми достижениями в сахарной промышленности, изучают
        передовой опыт, постоянно происходит модернизация завода.<br>
    </p>

    <p>
        За годы своего существования коллектив завода неоднократно был отмечен высокими наградами
        на различных выставках, стал лауреатом конкурса «Лучший сахарный завод России».<br>
    </p>
</div>
<body background="img/1eefc5567dc5c55f67ef6849b9235582.jpg">
</body>


<body>
    <form>
        <p><a href="News"><p><input id="Button1" type="button" value="Назад к списку" /></a></p>
    </form>
</body>