@page
@model NewsModel
@{
    ViewData["Title"] = "Новости";
}
<div>
    <h class="display-4" align="left" style="color: #ffffff">Новости </h>

    <div id="on_year1" style="position: absolute; top:9%; left:0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div >
        <table>
            <tr>
                <td>
                    <a href="News1">
                        <p>
                            Тбилисский сахарный завод привлечет кредитную линию на 100 млн руб.
                            на закупку свеклы
                        </p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="News2">
                        <p>
                            Юбилей Тбилисского сахарного завода
                        </p>
                    </a>
                </td>
            </tr>
        </table></div>
</div>
    <body background="img/1eefc5567dc5c55f67ef6849b9235582.jpg">
    </body>
