@page
@model News1Model
@{
    ViewData["Title"] = "Новость 1";
}
<div id="on_year1" style="position: absolute; top:9%; left:0;">
    <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
</div>
<div>
    <h4 align="left" style="color: #ffffff">
        Тбилисский сахарный завод привлечет кредитную
        линию на 100 млн руб. на закупку свеклы
    </h4>
    <p>
        <div style="color: #ffffff">
            &nbsp; ПАО "Добринский сахарный завод" (ДСЗ, Липецкая область) выступит поручителем по договору о
            привлечении ЗАО "Тбилисский сахарный завод" (Краснодарский край) кредитной линии Россельхозбанка
            на 100 млн рублей, сообщается в материалах ДСЗ, передает Интерфакс.
    </p>


    <p>
        Согласно материалам ДСЗ, "Тбилисский сахарный завод" привлекает кредитную линию на 12 месяцев.
        Средства планируется направить на закупку сахарной свеклы для ее последующей переработки.<br>
    </p>

    <p>
        о данным аналитической системы "СПАРК-Интерфакс", ЗАО "Тбилисский сахарный завод" зарегистрировано
        в 1995 году в Тбилисском районе Краснодарского края. 96,11% уставного капитала принадлежит ООО "СДИ",
        представляющему в РФ интересы французской Sucden. Ему же принадлежит 93,1% уставного капитала ДСЗ.<br>
    </p>

    <p>
        Выручка "Тбилисского сахарного завода" за 2020 год составила 1,738 млрд рублей, чистая
        прибыль - 182,7 млн рублей.<br>
    </p>

    <p>
        Россельхозбанк по итогам первого квартала 2021 года занимает 5-е место по размеру активов в рэнкинге
        "Интерфакс-100", подготовленном "Интерфакс-ЦЭА".<br>
    </p>
</div>

<body background="img/1eefc5567dc5c55f67ef6849b9235582.jpg">
</body>


<body>
    <form>
        <p><a href="News"><p><input id="Button1" type="button" value="Назад к списку" /></a></p>
    </form>
</body>