@page
@model production_schemeModel
@{
    ViewData["Title"] = "Схема производства";
}
<div class="text-center">
    <h class="display-4"> Схема производства </h>
    <a href="#"><img src="img/map.jpg" height="500" width="750" class="center"></a>

    <div id="on_year1" style="position: absolute; top:9%; left:0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div id="on_year1" style="position: absolute; top: 15%; right: 0; ">

        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="Reception of sugar beet"><p>Приём сахарной свеклы</p></a></td>
            </tr>
            <tr>
                <td><a href="Unloading and washing"><p>Разгрузка и мойка</p></a></td>
            </tr>
            <tr>
                <td><a href="Diffusion"><p>Диффузия</p></a></td>
            </tr>
            <tr>
                <td><a href="Saturation"><p>Сатурация</p></a></td>
            </tr>
            <tr>
                <td><a href="Evaporation"><p>Выпаривание</p></a></td>
            </tr>
            <tr>
                <td><a href="Crystallization"><p>Кристаллизация</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>
        </table>
    </div>
</div>

<body background="img/drops_texture515.jpg"></body>
