@page
@model Reception_of_sugar_beetModel
@{
    ViewData["Title"] = "Приём сахарной свеклы";
}

<div class="text-center">
    <h class="display-4"> Приём сахарной свеклы </h>
    <a href="#"><img src="img/map1.jpg" height="450" width="700" class="center"></a>

    <div id="on_year1" style="position: absolute; top:8%; left:0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div id="on_year1" style="position: absolute; top: 15%; right: 0; ">

        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="production scheme"><p>Схема производства</p></a></td>
            </tr>
            <tr>
                <td><a href="Unloading and washing"><p>Разгрузка и мойка</p></a></td>
            </tr>
            <tr>
                <td><a href="Diffusion"><p>Диффузия</p></a></td>
            </tr>
            <tr>
                <td><a href="Saturation"><p>Сатурация</p></a></td>
            </tr>
            <tr>
                <td><a href="Evaporation"><p>Выпаривание</p></a></td>
            </tr>
            <tr>
                <td><a href="Crystallization"><p>Кристаллизация</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>
        </table>
    </div>

    <p>
        <div style="background-color: #ffffff" align="left">
            &nbsp; При приемке сахарной свеклы на завод, сырьевая лаборатория проводит анализ получаемой свеклы.
            Технологическое качество сахарной свеклы характеризуется рядом показателей, из которых основными являются сахаристость и чистота свекловичного сока свеклы.
            Приемку сахарной свеклы, отбор образцов, определение загрязненности и сахаристости проводят в соответствии с требованиями ГОСТ Р 52647-2006 «Свекла сахарная.Технические условия»
    </p>
</div>
<body background = "img/drops_texture515.jpg"></body>
