@page
@model SaturationModel
@{
    ViewData["Title"] = "Сатурация";
}

<div class="text-center">
    <h class="display-3"> Сатурация </h>
    <a href="#"><img src="img/map4.jpg" height="550" width="800" class="center"></a>

    <div id="on_year1" style="position: absolute; top: 5%; left: 0; ">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>
    <div id="on_year1" style="position: absolute; top: 10%; right: 0; ">       
        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="production scheme"><p>Схема производства</p></a></td>
            </tr>
            <tr>
                <td><a href="Reception of sugar beet"><p>Приём сахарной свеклы</p></a></td>
            </tr>
            <tr>
                <td><a href="Unloading and washing"><p>Разгрузка и мойка</p></a></td>
            </tr>
            <tr>
                <td><a href="Diffusion"><p>Диффузия</p></a></td>
            </tr>
            <tr>
                <td><a href="Evaporation"><p>Выпаривание</p></a></td>
            </tr>
            <tr>
                <td><a href="Crystallization"><p>Кристаллизация</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>
        </table>
    </div>


    <p>
        <div style="background-color: #ffffff" align="left">
            &nbsp; Диффузионный сок содержит сахарозу и несахара. Все несахара в большей или меньшей мере
            препятствуют получению кристаллической сахарозы и увеличивают потери. Поэтому одной из важнейших
            задач технологии сахарного производства является максимальное удаление несахаров из сахарных растворов.
            Основные сырьевые материалы, используемые в очистке это известь и углекислый газ, который получается
            путем сжигания известняка в печи. Эти вещества при добавлении в сок связываются с несахарами
            и осаждаются, затем полученные соединения отфильтровывают. После очистки сок имеет светло-желтый цвет.
    </p>

    <p>
        &nbsp; В сахарном производстве для отделения осадка применяется фильтрационное оборудование,
        в котором в качестве фильтрующей перегородки используется хлопчатобумажная или синтетическая
        фильтрующая ткань.<br>
        Качество диффузионного сока оказывает решающее влияние на протекание основных технологических
        процессов (очпстка, выпаривание, кристаллизация, выход и качество готовой продукции).
        Поэтому качество получаемого диффузионного сока должно уделяться особо важное внимание.
        К сожалению, этому вопросу на заводах не всегда уделяется должное внимание, что в конечном
        итоге отрицательно сказывается на результатах работы завода. Качество получаемого диффузионного
        сока зависит от многих факторов, важнейшими из которых являются:<br>
        — качество перерабатываемого сока;<br>
        — наличие зеленой массы;<br>
        — качество стружки;<br>
        — технологические параметры получения сока (температура, длительность, качество используемой питательной воды);<br>
        — инфицированность диффузионного аппарата микроорганизмами;<br>
        — возврат жомоирессовой питательной воды;<br>
        — содержание мезги;<br>
    </p>
</div>
<body background="img/drops_texture515.jpg">
</body>

<body>
    <form>
        <p><a href="GazPech"><p><input id="Button1" type="button" value="Подробное описание Известковой-газовой печи"/></a></p>
    </form>
</body>