@page
@model Unloading_and_washingModel
@{
    ViewData["Title"] = "Разгрузка и мойка";
}
<div class="text-center">
    <h class="display-4"> Разгрузка и мойка </h>
    <a href="#"><img src="img/map2.jpg" height="450" width="700" class="center"></a>
    <a href="#"><img src="img/IMG_4810-768x512.jpg" height="300" width="450" class="left"></a>
    <a href="#"><img src="img/4.jpg" height="300" width="450" class="left"></a>
    <a href="#"><img src="img/разгржать-сахарных-свекл-107590151.jpg" height="300" width="450" class="right"></a>

    <div id="on_year1" style="position: absolute; top:3.5%; left:0;">
        <a href="Index"><img src="img/tsz_small.png" border="0" align="left"></a>
    </div>

    <div id="on_year1" style="position: absolute; top: 6%; right: 0; ">
        <table width="200" bgcolor="" cellspacing="0" cellpadding="5" border="0" align="right">
            <tr>
                <td><a href="production scheme"><p>Схема производства</p></a></td>
            </tr>
            <tr>
                <td><a href="Reception of sugar beet"><p>Приём сахарной свеклы</p></a></td>
            </tr>
            <tr>
                <td><a href="Diffusion"><p>Диффузия</p></a></td>
            </tr>
            <tr>
                <td><a href="Saturation"><p>Сатурация</p></a></td>
            </tr>
            <tr>
                <td><a href="Evaporation"><p>Выпаривание</p></a></td>
            </tr>
            <tr>
                <td><a href="Crystallization"><p>Кристаллизация</p></a></td>
            </tr>
            <tr>
                <td><a href="Centrifugation"><p>Центрифугирование</p></a></td>
            </tr>
        </table>
    </div>

    <p>
        <div style="background-color: #ffffff" align="left">
            &nbsp; Существуют две системы разгрузки - сухая и мокрая разгрузка. При сухой разгрузки, свекла передается от грузовика на ряд конвейерных лент в бункер или на открытый воздух, где она хранится в кагатах. При мокрой разгрузки свеклу вымывают из грузовика с помощью мощной струи воды. При уборке и транспортировке свеклы кроме земли, прилипшей к свекле, к ней примешиваются легкие и тяжелые примеси - ботва, солома, песок, камни и даже отдельные металлические предметы. В случае попадания этих примесей в свеклорезку, ножи тупятся и повреждаются, что ведет к ухудшению качества свекловичной стружки. Для получения стружки высокого качества необходимо более полно отделять от свеклы легкие и тяжелые примеси. Для этого по тракту подачи свеклы в завод устанавливают соломоботволовушки, камнеловушки и песколовушки. Свекла частично отмывается от приставших к ней примесей в гидравлическом транспортере и свеклоподъемных устройствах. Для окончательной очистки свеклы от загрязнений и дополнительного отделения тяжелых и легких примесей применяются свекломойки. Земля и глина лучше всего отмываются при трении корней друг о друга. Поэтому в начальной стадии мойки свекла должна находиться в скученном состоянии, т.е. вначале происходит отмывание свеклы в барабанной свекломойке. После барабана свекла поднимается в ополаскиватель, затем поступает в корытную свекломойку Отмытую свеклу из свекломойки элеватором, направляют в бункер перед свеклорезками.
    </p>

    <p>
        &nbsp; Работа сахарного завода связана с необходимостью хранения большого количества сахарной свеклы, так как сахарный завод работает, в зависимости от количества заготовленной свеклы, в течение 60 — 110 суток (оптимальная длительность сезона для РФ, по расчетам специалистов, составляет 100 суток), а уборка свеклы проводится всего в течение одного месяца — примерно с 20 сентября по 20 октября. При хранении свеклы теряется сахар и ухудшается ее качество.<br>
        Потери сахара при хранении колеблются от 100 до 300 г в день на 1 т корнеплодов. Как правило, они составляют в первую неделю хранения 0,01 % в день, потом 0,05 % в день.
        Сведение потерь сахара при хранении сахарной свеклы к минимуму является одним из важнейших факторов повышения эффективности сахар¬ного производства. Поэтому на заводах вопросам хранения необходимо уделять большое внимание с тем, чтобы обеспечить правильное хранение корнеплодов на базе последних разработок в этом направлении. При хранении свеклы происходит снижение ее сахаристости и ухудшение ее качества за счет увеличения содержания несахаров. В этой связи весьма актуальным является уменьшение потерь сахара и сведение к минимуму ухудшения качества свеклы в процессе её хранения. При неблагоприятных условиях хранения свеклы потери сахара могут составить 1,5 % к массе хранимой свеклы. Выбор оптимальных параметров хранения, особенно свеклы механизированной уборки, позволяет снизить эти потери к минимуму.<br>
        Вопросы хранения сахарной свеклы достаточно хорошо отработаны, освещены в специальной литературе, указанной в списке литературы.
    </p>
</div>
<body background="img/drops_texture515.jpg">
</body>
